.DS_Store
image
data
dump

key/

machine/default/disk
machine/default/log

machine/proxy/disk

machine/node/disk
machine/node/log

machine/python/disk
machine/python/log

machine/ruby/disk
machine/ruby/log
